<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/homestyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Ubuntu:ital,wght@1,500&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/f8da81f973.js" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column vh-100 ">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark nav-class">
        <div class="container-fluid">
          <a class="navbar-brand " href="/"><div id="logo" class="flex-col logo">
            <a href="/home" rel="home">
                <img width="120" height="60" src="logo1.png" class="header_logo header-logo img-logo" alt="Window Supply Direct Ltd"></a>
                      </div></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/"><i class="fa1 fa-solid fa-house"></i>Home</a>
              <a class="nav-link" href="/services"><i class="fa1 fa-solid fa-wrench"></i>Our Services</a>
              <a class="nav-link" href="/gallery"><i class="fa1 fa-solid fa-image"></i>Gallery</a>
              <a class="nav-link" href="/contact"><i class="fa1 fa-solid fa-envelope"></i>Contact us</a>
            </div>
          </div>
        </div>
      </nav>
       
      <div class="topline d-flex justify-content-between align-items-center">
        <div class="container">
			<div class="g-font-size-20 g-font-style-normal g-color-white g-font-weight-600 d-flex justify-content-between align-items-center "><h6 class="toplineT">Get a quote: phone number</h6> <span class="logo"><i class=" fa-brands fa-facebook fa-lg"></i></span></div></div></div>
      <main>
      
       
        <div class="main-container">
          <div class="container-fluid">
          <div id="carouselExampleFade" class="carousel slide carousel-fade  " data-bs-ride="carousel">
          <div class="carousel-inner carousel-height">
            <div class="carousel-item active">
              <img src="/imgtop1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-link-container">
                <a href="#imageGallery" class="carousel-link">Window Styles</a>
                <a href="#doorGallery" class="carousel-link">Door Styles</a>
              </div>
              <div class="carousel-caption col-lg-6 col-md-8 col-sm-10 col-12">
                <h3>Welcome to website 2</h3>
                <p>Windows, Doors, Porches and conservatories speciliast in Manchester.
                  If you are looking to build a conservatory,brand new porch or just need new windows, or a new secure door. Just contact us we 
                  will make your dreams a reality, will fit everything as you want with very little deposits, rest pay on completion it 
                  couldn’t be easier.
                </p>
              </div>
              <div class="carousel-caption2 col-lg-6 col-md-8 col-sm-10 col-12">
                <h4>To find more detailed about our services <span> <a href="/services">Click here</a> </span></h4>
              </div>
            </div>
            <div class="carousel-item ">
              <img src="/imgtop2.jpg" class="d-block w-100" alt="...">
              <div class="carousel-link-container">
                <a href="#imageGallery" class="carousel-link">Window Styles</a>
                <a href="#doorGallery" class="carousel-link">Door Styles</a>
              </div>
              <div class="carousel-caption col-lg-6 col-md-8 col-sm-10 col-12">
                <h3>Welcome to website 2</h3>
                <p>Windows, Doors, Porches and conservatories speciliast in Manchester.
                  If you are looking to build a conservatory,brand new porch or just need new windows, or a new secure door. Just contact us we 
                  will make your dreams a reality, will fit everything as you want with very little deposits, rest pay on completion it 
                  couldn’t be easier.</p>
              </div>
              <div class="carousel-caption2 col-lg-6 col-md-8 col-sm-10 col-12">
                <h4 class="">To find more detailed about our services <span> <a href="/services">Click here</a> </span> </h4>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/imgtop3.jpg" class="d-block w-100" alt="...">
              <div class="carousel-link-container">
                <a href="#imageGallery" class="carousel-link">Window Styles</a>
                <a href="#doorGallery" class="carousel-link">Door Styles</a> 
            </div>
            <div class="carousel-caption col-lg-6 col-md-8 col-sm-10 col-12">
              <h3>Welcome to website 2</h3>
              <p>Windows, Doors, Porches and conservatories speciliast in Manchester.
                If you are looking to build a conservatory,brand new porch or just need new windows, or a new secure door. Just contact us we 
                will make your dreams a reality, will fit everything as you want with very little deposits, rest pay on completion it 
                couldn’t be easier.</p>
            </div>
            <div class="carousel-caption2 col-lg-6 col-md-8 col-sm-10 col-12">
              <h4>To find more detailed about our services <span> <a href="/services">Click here</a> </span></h4>
            </div>
          </div>
          </div>
          

          <button class="carousel-control-prev carousel-control carousel-control-left " type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next  carousel-control carousel-control-right" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </div>
      </div>
      </div>
        

    <div class="container g-pb-10">
      <div class="centerline">
       </div>

  <div class="text-center">
    <div id="casementwindows">
      <div class="h3 u-heading-v1__title">Casement Window Styles</div></div><div class="g-color-black g-color-black--hover g-font-style-normal5 g-mb-20">
  (as viewed from outside)
</div></div>
  
  <div class="row card-header g-mb-20 margin- planes0 ">
    <div class="col-lg-6 col-md-6 col-sm-6 text-center">
      <div class="g-color-black g-color-black--hover g-font-style-normal5 planes1 font-weight-bold">
         103 Window Styles
    </div></div>
    <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-around ">
      <div class="g-color-black g-color-black--hover g-font-style-normal5 planes2 font-weight-bold">
       How many glazed panes do you require?
       <!-- Small Button Group -->
      <select name="panefilter" id="panefilter">
        <option value="">Show all</option>
        <option value="1">1 Pane</option>
        <option value="2">2 Panes</option>
        <option value="3">3 Panes</option>
        <option value="4">4 Panes</option>
        <option value="5">5 Panes</option>
        <option value="6">6 Panes</option>
        <option value="8">8 Panes</option>
      </select>
    <!-- End Small Button Group -->
    </div></div></div>
  </div>
    
    
    <div id="imageGallery" class="row justify-content-center bg-color101"> 
    </div>

    <!--  second door line -->
    <div class="row card-header g-mb-20 margin- planes0 w-50 d-flex mx-auto">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <div class="g-color-black g-color-black--hover g-font-style-normal5 planes1 font-weight-bold ">
           7 door styles
      </div></div></div>
         

<div id="doorGallery" class="row justify-content-center bg-color101">
</div>

      
    </main>


  
    <footer class="footer bg-dark py-3 mt-auto">
      <div class="container d-flex justify-content-between align-items-center">
          <div>
            <span class="text-muted">&copy; First website 2. All Rights Reserved.</span>
          </div>
          <div>
          <a href="https://www.facebook.com/"><i class=" f1 fa-brands fa-facebook fa-xl"></i></a>
          <a href="https://www.facebook.com/"><i class=" f2 fa-brands fa-square-whatsapp fa-xl"></i></a>
      </div>
      </div>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/homescript.js"></script>

</body>
</html>