<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link  rel="stylesheet" type="text/css" href="/servicestyle.css">
    <script src="https://kit.fontawesome.com/f8da81f973.js" crossorigin="anonymous"></script>
</head>
<body class="d-flex flex-column vh-100">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><div id="logo" class="flex-col logo">
        <a href="/home" rel="home">
            <img width="120" height="60" src="logo1.png" class="header_logo header-logo" alt="Window Supply Direct Ltd"></a>
                  </div></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/"><i class="fa1 fa-solid fa-house"></i>Home</a>
              <a class="nav-link" href="/services"><i class="fa1 fa-solid fa-wrench"></i>Our Services</a>
              <a class="nav-link" href="/gallery"><i class="fa1 fa-solid fa-image"></i>Gallery</a>
              <a class="nav-link" href="/contact"><i class="fa1 fa-solid fa-envelope"></i>Contact us</a>
        </div>
      </div>
    </div>
  </nav>

      <main>
        <div class="topbox">
          <div class="left-box">
            <div class="tp1-wrapper"> 
              <h1 class="tp1">Services</h1>
            </div>
            <p class="tp2">Your local manufacture we can do all type of Service. We Repair, Install and Supply UPVC Windows, UPVC Doors and bi Folding Door, Porches
            we also build Conservatories. Top quality windows and doors direct from the factory to the home.</p>
          </div>
          <div class="centered-box">
            <p><span class="why">WHY CHOOSE US?</span><br>
              Second websites are a local, established supplier & installer of high-quality energy-efficient uPVC windows, doors,
              porches & conservatories serving the North West England with 5 years of window and conservatory industry experience! plus we
              are a government-certified & approved Certass installer..</p>
          </div>
        </div>
        

        <div class="services-options d-flex flex-wrap">
          <button class="option-button active " data-tab="windows">Windows</button>
          <button class="option-button " data-tab="doors">Doors</button>
          <button class="option-button  " data-tab="conservatories">Conservatories</button>
          <button class="option-button  " data-tab="porches">Porches</button>
          <button class="option-button " data-tab="repair">Repair</button>
        </div>
      
        <!-- For Windowsssssssssssssssssss -->
        <div class="content-container">
          <div class="content" id="windows-content">
            <h3 class="htop">High security comes as standard with all our windows.</h3>
            <p class="ptop">With a comprehensive selection of styles and designs to choose from, you can be confident that second website will enhance your home. All windows come with the latest energy efficient double glazed units. Our uPVC window frames come fully reinforced asstandard and come with dual position multi-point locking mechanisms.  
          We offers a range of energy efficient windows 
              designed to retain heat and significantly reduce the amount of energy you use and the money you spend on heating costs.Save on your heating bills with our A Rated windows.
              All our windows are manufactured with additional security features ensuring. hoot bolts, hinge guards, lock wedges, night vent 
              positions and key-locking handles are standard on all opening windows and all are internally beaded, ensuring that any potential 
              intruders remain on the outside of your property. Optional laminated security glazing can create an even stronger barrier between 
              your home and the outside world.<br> 
              Our teams are out and about every day installing new uPVC, timber and aluminium products. You can view our latest projects by visiting our
              <a href="/gallery">Gallery</a>
            </p>
             <div class="container">
          <div class="row g-3">
              <div class="col-12 col-md-6 col-lg-4">
                  <div class="card">
                      <img src="/upvcwindow.jpg" class="card-img-top" alt="London">
                      <div class="card-body">
                          <h5 class="card-title">uPVC Casement Windows</h5>
                          <p class="card-text">With ultra-slim sight lines, clean and modern aesthetics our stylish casement windows enhance the 
                            beauty of any property.Second website casement windows give you more choices,With a huge range of window styles and colors available, you are sure to find your perfect fit. It offering excellent thermal performance, 
                            achieving a ‘C’ energy rating as standard and an ‘A’ energy rating with argon filled, warm edge Low E double glazed 
                            unit. We also offer one of the biggest standard colour ranges in the UK.</p>
                      </div>
                  </div>
              </div>
              
              </div>
            </div>
          </div>
        
          
         <!-- FOR  DOORSSSSSSSSSSSSSSSSSSSSSSS -->
          <div class="content" id="doors-content">
            <h3 class="htop">High security comes as standard with all our doors.</h3>
            <p class="ptop">Transform the look and feel of your property with one of our high security doors, now available in a huge range of styles and 
              colours. We offer beautiful composite front and rear doors. All our doors are manufactured with your security in mind. Choose from 
              our range of Rockdoors, Visage composite doors, French, Sliding Patio doors or bi-folding doors. All our doors have anti-pick, 
              anti-snap high security key barrels, ensuring that any potential intruders remain on the outside of your property.
              We also offer a great range of glazed doors, from French or Patio doors to large span bi-folding doors that effectively bring the 
              outdoors into your home.<br>
              You can see our latest doors installed by visiting our <a href="/gallery">Gallery</a>
              </p>
            <div class="container">
              <div class="row g-3">
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card">
                          <img src="/bidoor.jpg" class="card-img-top" alt="A Street in Europe">
                          <div class="card-body">
                              <h5 class="card-title">Bi-Folding Doors</h5>
                              <p class="card-text">Manufactured in powder coated aluminium for the ultimate in strength combined with slim frames, 
                                our bi-folding doors maximise the glazed area, allowing you to enjoy unobstructed views of your garden. They form a
                                seamless transition between your home and the outdoors and can perfectly enhance the functionality of your home. It comes
                              high security hook locks with the latest sliding gear and toughend safety glass</p>
                              
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card">
                          <img src="/compodoor.jpg" class="card-img-top" alt="London">
                          <div class="card-body">
                              <h5 class="card-title">Composite Doors</h5>
                              <p class="card-text">Composite doors provide a superior level of security for domestic doors which is increasingly 
                                important when protecting your home and your family.Composite doors come in a variety of stylish glazing options 
                                coupled with a variety of colour options.We don’t believe in compromising on quality and security. It will never rot, warp or crack, nor will it require painting.We now 
                                have a whole range of styles and colours to choose from.
                              </p>
                              
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card">
                          <img src="/upvcdoor.jpg" class="card-img-top" alt="New York">
                          <div class="card-body">
                              <h5 class="card-title">uPVC Doors</h5>
                              <p class="card-text">Low cost but with high security. Our all uPVC doors are steel reinforced which come with a 
                                multi-point lock master lock,  deadbolt and latch and anti pick and snap locks as standard that will keep you 
                                safe from intruders attempting to gain access. .</p>   
                          </div>
                      </div>
                  </div>
                  </div>
                </div>
               </div>


          <!-- For conservvvvvvvvvvvvvvvvvvvvvvvvvvv -->
          
          <div class="content" id="conservatories-content">
            <h3 class="htop">Upgrade your conservatory with a lightweight tiled roof.</h3>
            <p class="ptop">Need an extra room or want a cost effective way to increase the value of your home?Our conservatories are built to the highest standards.
              Second website  design and build you the conservatory of your dreams! Designed for all year round use your conservatory will be great 
              for a child’s play room, dinning room or just somewhere to relax.
              Extending outwards is a great option and use of space.
              Insulated tiled roofs are available on all new conservatories or we  can replace your existing conservatory polycarbonate or glass roof
               with a new insulated tiled roof.<br>
               You can view our latest projects by visiting our <a href="/gallery">Gallery</a></p>
            <div class="container">
              <div class="row g-3">
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card">
                          <img src="/tvc.jpg" class="card-img-top" alt="A Street in Europe">
                          <div class="card-body">
                              <h5 class="card-title">The Victorian</h5>
                              <p class="card-text">With the distinguished architectural features of a bay front, combined with a steeply pitched 
                              roof and ornate ridge details, the Victorian style has a real classical appearance.</p>
                              
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card">
                          <img src="/ted.jpg" class="card-img-top" alt="London">
                          <div class="card-body">
                              <h5 class="card-title">The Edwardian</h5>
                              <p class="card-text">This has become an ever more popular design, mainly due to the way it optimises space, as the 
                                90 degree corners are perfect for sofas and tables.</p>
                              
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="card">
                          <img src="/tgr.jpg" class="card-img-top" alt="New York">
                          <div class="card-body">
                              <h5 class="card-title">The Garden Room</h5>
                              <p class="card-text">A low roof pitch option is ideal for installing on bungalows, but is equally at home with a 
                                steeper pitch on a contemporary detached or terraced home.</p>
                              
                          </div>
                      </div>
                  </div>
              </div>
                </div>
          </div>
           


             <!--  Porchesssssssssssssssssssssssssssssss -->
             <div class="content" id="porches-content">
              <h3 class="htop">Extra security and create space</h3>
              <p class="ptop">Add a new porch to your home can make a useful addition. it helps to make your home more secure Energy efficient and offer 
                much needed extra space for coats, shoes and umbrellas.. and A perfectly designed porch adds visual value. It is the first thing visitors to a 
                home will see. An often-unrecognised benefit of porches is their ability to keep homes warm. Fitted with energy-efficient doors and windows, 
                they act as a thermal barrier that locks in heat and blocks the ingress of cold air. This means cold drafts won’t enter the living space when 
                the door opens; instead, the interior will remain warm.<br>
                You can see our latest porches installed by visiting our <a href="/gallery">Gallery</a>
                </p>
              <div class="container">
                <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <img src="/porch.jpeg" class="card-img-top" alt="A Street in Europe">
                            <div class="card-body">
                                <h5 class="card-title">Porch</h5>
                                <p class="card-text">Our porch is made to measure from the base up brickwork to match your house upvc frames and tiled roof 
                                  facia and guttering. We Manufactured it to the highest standards. It make your home more secure than everWould-be intruders seeking access to a property will
                                   have to bypass two doors instead of just one.It has the latest locking systems so intruder will strugler to 
                                   bypass the mechanisms.     </p>
                                
                            </div>
                        </div>
                    </div>
                    
                    </div>
                  </div>
                 </div>

                 

           <!-- For Repairrrrrrrrrrrrrrrrrrrrrrrrr -->
          <div class="content" id="repair-content">
            <h3 class="htop">Repairs and maintenance on all existing uPVC windows and doors.</h3>
            <p class="ptop">Have your double glazed ​windows failed and become all misted up? We are specialists in replacement double glazed sealed units, and 
            carrying out adjustments to, or replacing, hinges and locks to existing windows and doors. We can remedy this problem by replacing the
            sealed units and giving new life to your original windows. We offer this service on timber, aluminium and uPVC frames. We can replace 
            misted up units at a fraction of the cost and inconvenience of replacing the original frames.</p>
            <h4 class="htop"> Please find a list of repair services we can provide</h4>
            <div class="row">
              <div class="col col-md-4">
                <ul>
                  <li>Supply and replace window handles</li>
                  <li>Renew window hinges</li>
                  <li>Renew window mechanisms</li>
                  <li>Renew door handles</li>
                  <li>Renew door mechanisms</li>
                </ul>
              </div>
              <div class="col col-md-4">
                <ul>
                  <li>Repair dropped doors</li>
                  <li>Repair or replace door hinges</li>
                  <li>Renew letter boxes</li>
                  <li>Renew door knockers and other furniture</li>
                  
                </ul>
              </div>
              <div class="col col-md-4">
                <ul>
                  <li>Double glazed unit replacement</li>
                  <li>Single glass replacement</li>
                  <li>Installation of broken mirrors</li>
                  <li>Glass</li>
                  
                </ul>
              </div>
            </div>
              <div class="container">
          <div class="row g-3">
              <div class="col-12 col-md-6 col-lg-4">
                  <div class="card">
                      <img src="/repair.jpg" class="card-img-top" alt="A Street in Europe">
                      <div class="card-body">
                          <h5 class="card-title">Repair</h5>
                          <p class="card-text">At second website we provide a fast and efficient repair service for all uPVC products including 
                            windows and doors. We can repair or replace locking systems, handles, hinges, seals, letterboxes, door panels, door 
                            barrels and of course misted windows. Even if we haven’t fitted the original windows or doors, we’re happy to help.</p>
                          
                      </div>
                  </div>
              </div>
          </div>
        </div>
        </div>
         </div>
         


     
      </main>

      <footer class="footer bg-dark py-3 mt-auto">
        <div class="container d-flex justify-content-between align-items-center">
            <div>
              <span class="text-muted">&copy; First website 2. All Rights Reserved.</span>
            </div>
            <div>
            <a href="https://www.facebook.com/"><i class=" f1 fa-brands fa-facebook fa-xl"></i></a>
            <a href="https://www.facebook.com/"><i class=" f2 fa-brands fa-square-whatsapp fa-xl"></i></a>
        </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/servicescript.js"></script>
</body>
</html>






<!-- Extra security and create space (heading )
Add a new porch to your home can make a useful addition. it helps to make your home more secure Energy efficient  and offer much needed extra space for coats, shoes and umbrellas.

uPVC porches that complement you home (extra())
A Diamond porch is made to measure from the base up brickwork to match your house upvc frames and tiled roof facia and guttering.

Manufactured to the highest standards.                                  
The latest locking systems make your home more secure than ever.
dramatically reduce draughts and save on fuel bills -->